@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 3rem auto 1fr;
}

header {
    color: #eeeeee;
    background: #00adb5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    place-items: center;
    font-family: 'Raleway', sans-serif;
}

.main {
    color: #eeeeee;
    background: #393e46;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    place-items: center;
}

.brand-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.menu {
    animation-duration: 1s;
    display: grid;
    place-items: stretch;
    font-family: 'Raleway', sans-serif;
}

.menu .item {
    color: #eeeeee;
    margin: .25rem .5rem;
    text-align: center;
    padding: .5rem;
    background-color: #222831;
}

.loader {
    animation-duration: 1s;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
}

.card {
    animation-duration: .5s;
    display: grid;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1.25rem;
    place-items: stretch;
    font-family: 'Raleway', sans-serif;
    background-color: #222831;
}

.card h2 {
    text-align: center;
}

.blurry {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

progress {
    width: 100%;
    height: .5rem;
    display: block;
    /* Important Thing */
    -webkit-appearance: none;
    border: none;
}

.progress {
    background: #393e46;
    padding: 0px;
    margin: 0px;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
    background: #222831;
}

progress::-webkit-progress-value {
    background: #00adb5;
    transition: width 0.5s;
}
